{% extends "base.html" %}

{% block content %}

<section id="center" class="clearfix center_prod">
<div class="container">
 <div class="row">
   <div class="center_prod_1 clearfix">
    <div class="col-sm-12">
	 <h6 class="mgt col_1 normal"><a href="#">Home</a>  <i style="font-size:14px; margin-left:5px; margin-right:5px;" class="fa fa-chevron-right"></i>   Blog Post</h6>
	</div>
   </div>
 </div>
</div>
</section>

<section id="blog_page" class="clearfix">
 <div class="container">
  <div class="row">
    <div class="blog_page_1 clearfix">
	 <div class="col-sm-9">
	  <div class="blog_page_1l mgt clearfix">
	   <a href="{% url 'blog_detail' %}"><img src="img/33.jpg" class="iw" alt="abc"></a>
	   <h5 class="normal"><a href="{% url 'blog_detail' %}"><span class="span_1">Jan 20, 2019</span></a> <span class="span_2">By <a href="{% url 'blog_detail' %}">Lacinia Arcu</a></span>  <span class="span_3"><i class="fa fa-comment-o"></i> <a href="{% url 'blog_detail' %}">3</a></span>  <i class="fa fa-shopping-bag"></i> <a href="{% url 'blog_detail' %}">Eget Nulla</a></h5><br>
	   <h2 class="mgt">Semper Porta</h2>
	   <p>Lorem Ipsumin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubianostra, per inceptos...</p>
	   <h4><a class="button" href="{% url 'blog_detail' %}">Read More</a></h4>
	  </div>
	  <div class="blog_page_1l clearfix">
	   <a href="{% url 'blog_detail' %}"><img src="img/34.jpg" class="iw" alt="abc"></a>
	   <h5 class="normal"><a href="{% url 'blog_detail' %}"><span class="span_1">Jan 20, 2019</span></a> <span class="span_2">By <a href="{% url 'blog_detail' %}">Lacinia Arcu</a></span>  <span class="span_3"><i class="fa fa-comment-o"></i> <a href="{% url 'blog_detail' %}">3</a></span>  <i class="fa fa-shopping-bag"></i> <a href="{% url 'blog_detail' %}">Eget Nulla</a></h5><br>
	   <h2 class="mgt">Only the Best</h2>
	   <p>Lorem Ipsumin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubianostra, per inceptos...</p>
	   <h4><a class="button" href="{% url 'blog_detail' %}">Read More</a></h4>
	  </div>
	  <div class="blog_page_1l clearfix">
	   <a href="{% url 'blog_detail' %}"><img src="img/35.jpg" class="iw" alt="abc"></a>
	   <h5 class="normal"><a href="{% url 'blog_detail' %}"><span class="span_1">Jan 20, 2019</span></a> <span class="span_2">By <a href="{% url 'blog_detail' %}">Lacinia Arcu</a></span>  <span class="span_3"><i class="fa fa-comment-o"></i> <a href="{% url 'blog_detail' %}">3</a></span>  <i class="fa fa-shopping-bag"></i> <a href="{% url 'blog_detail' %}">Eget Nulla</a></h5><br>
	   <h2 class="mgt">Department Service</h2>
	   <p>Lorem Ipsumin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubianostra, per inceptos...</p>
	   <h4><a class="button" href="{% url 'blog_detail' %}">Read More</a></h4>
	  </div>
	  <div class="product_1_last text-center clearfix">
	  <div class="col-sm-12">
	   <ul>
	    <li><a href="{% url 'blog_detail' %}"><i class="fa fa-chevron-left"></i></a></li>
	    <li class="act"><a href="{% url 'blog_detail' %}">1</a></li>
		<li><a href="{% url 'blog_detail' %}">2</a></li>
		<li><a href="{% url 'blog_detail' %}">3</a></li>
		<li><a href="{% url 'blog_detail' %}">4</a></li>
		<li><a href="{% url 'blog_detail' %}">5</a></li>
		<li><a href="{% url 'blog_detail' %}">6</a></li>
		<li><a href="{% url 'blog_detail' %}"><i class="fa fa-chevron-right"></i></a></li>
	   </ul>
	  </div>
	 </div>
	 </div>
	 <div class="col-sm-3">
	  <div class="blog_pgrm clearfix">
		<div class="blog_page_1r clearfix">
		<div class="input-group">
		<input type="text" class="form-control" placeholder="Search">
		<span class="input-group-btn">
		<button class="btn btn-primary" type="button">
		<i class="fa fa-search"></i></button>
		</span>												
		</div>
		</div><br>
		<div class="product_1r1 clearfix">
		<h3 class="mgt">Categories</h3>
		<ul class="normal">
		<li><i class="fa fa-circle col_1"></i> <a href="{% url 'blog_detail' %}">For Men</a></li>
		<li><i class="fa fa-circle col_1"></i> <a href="{% url 'blog_detail' %}">Children</a></li>
		<li><i class="fa fa-circle col_1"></i> <a href="{% url 'blog_detail' %}">For Women</a></li>
		<li><i class="fa fa-circle col_1"></i> <a href="{% url 'blog_detail' %}">Semper Porta</a></li>
		<li><i class="fa fa-circle col_1"></i> <a href="{% url 'blog_detail' %}">Eget Nulla</a></li>
		<li><i class="fa fa-circle col_1"></i> <a href="{% url 'blog_detail' %}">For Girls</a></li>
		<li><i class="fa fa-circle col_1"></i> <a href="{% url 'blog_detail' %}">For Kids</a></li>
		<li><i class="fa fa-circle col_1"></i> <a href="{% url 'blog_detail' %}">Latest</a></li>
		<li><i class="fa fa-circle col_1"></i> <a href="{% url 'blog_detail' %}">Trending</a></li>
		</ul>
		</div><br>
		<div class="product_1r1 clearfix">
		<h3 class="mgt">Recent Posts</h3>
		<div class="sold_1i clearfix">
		<div class="col-sm-5 space_left">
		<img src="img/36.jpg" class="iw" alt="abc">
		</div>
		<div class="col-sm-7 space_all">
		<div class="prod_home_2m1 clearfix">
		<h6 class="normal mgt"><a href="{% url 'blog_detail' %}">Jan 20, 2019</a></h6>
		<h5 class="normal"><a href="{% url 'blog_detail' %}">Semper Porta</a></h5>
		</div>
		</div>
		</div>
		<div class="sold_1i clearfix">
		<div class="col-sm-5 space_left">
		<img src="img/37.jpg" class="iw" alt="abc">
		</div>
		<div class="col-sm-7 space_all">
		<div class="prod_home_2m1 clearfix">
		<h6 class="normal mgt"><a href="{% url 'blog_detail' %}">Jan 20, 2019</a></h6>
		<h5 class="normal"><a href="{% url 'blog_detail' %}">Only the Best.</a></h5>
		</div>
		</div>
		</div>
		<div class="sold_1i clearfix">
		<div class="col-sm-5 space_left">
		<img src="img/38.jpg" class="iw" alt="abc">
		</div>
		<div class="col-sm-7 space_all">
		<div class="prod_home_2m1 clearfix">
		<h6 class="normal mgt"><a href="{% url 'blog_detail' %}">Jan 20, 2019</a></h6>
		<h5 class="normal"><a href="{% url 'blog_detail' %}">Semper Porta</a></h5>
		</div>
		</div>
		</div>
		<div class="sold_1i clearfix">
		<div class="col-sm-5 space_left">
		<img src="img/39.jpg" class="iw" alt="abc">
		</div>
		<div class="col-sm-7 space_all">
		<div class="prod_home_2m1 clearfix">
		<h6 class="normal mgt"><a href="{% url 'blog_detail' %}">Jan 20, 2019</a></h6>
		<h5 class="normal"><a href="{% url 'blog_detail' %}">Only the Best.</a></h5>
		</div>
		</div>
		</div>
		</div><br>
		<div class="product_1r2 clearfix">
		<h3 class="mgt">Archives</h3>
		<ul class="normal">
		<li><a href="{% url 'blog_detail' %}"><i class="fa fa-chevron-right"></i> January</a></li>
		<li><a href="{% url 'blog_detail' %}"><i class="fa fa-chevron-right"></i> February</a></li>
		<li><a href="{% url 'blog_detail' %}"><i class="fa fa-chevron-right"></i> March</a></li>
		<li><a href="{% url 'blog_detail' %}"><i class="fa fa-chevron-right"></i> April</a></li>
		<li><a href="{% url 'blog_detail' %}"><i class="fa fa-chevron-right"></i> May</a></li>
		<li><a href="{% url 'blog_detail' %}"><i class="fa fa-chevron-right"></i> june</a></li>
		<li><a href="{% url 'blog_detail' %}"><i class="fa fa-chevron-right"></i> july</a></li>
		<li><a href="{% url 'blog_detail' %}"><i class="fa fa-chevron-right"></i> August</a></li>
		<li><a href="{% url 'blog_detail' %}"><i class="fa fa-chevron-right"></i> September</a></li>
		<li><a href="{% url 'blog_detail' %}"><i class="fa fa-chevron-right"></i> October</a></li>
		</ul>
		</div>
	  </div>
	 </div>
	</div>
  </div>
 </div>
</section>

{% endblock content %}



