{% extends "base.html" %}

{% block content %}

<section id="center" class="clearfix center_prod">
<div class="container">
 <div class="row">
   <div class="center_prod_1 clearfix">
    <div class="col-sm-12">
	 <h6 class="mgt col_1 normal"><a href="#">Home</a>  <i style="font-size:14px; margin-left:5px; margin-right:5px;" class="fa fa-chevron-right"></i>   About Us</h6>
	</div>
   </div>
 </div>
</div>
</section>

<section id="about" class="clearfix">
 <div class="container">
  <div class="row">
   <div class="about_1 clearfix">
    <div class="col-sm-4">
	 <div class="about_1l clearfix">
	  <img src="img/45.jpg" class="iw" alt="abc">
	  <h4>Creating children’s clothes inspires us in every aspect</h4>
	  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque dis Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque dis</p>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="about_1m clearfix">
	  <img src="img/46.jpg" class="iw" alt="abc">
	  <p><i class="fa fa-check"></i> We make your life easier.</p>
	  <p><i class="fa fa-check"></i> Experience childcare.</p>
	  <p><i class="fa fa-check"></i> Daycare is great…</p>
	  <p><i class="fa fa-check"></i> We are childcare professionals.</p>
	  <p><i class="fa fa-check"></i> Babysitting with a loving heart.</p>
	  <p><i class="fa fa-check"></i> Your wishes just came true.</p>
	 </div>
	</div>
	<div class="col-sm-4">
	 <div class="about_1r clearfix">
     <h3 class="mgt">Working Hours</h3>
	 <p>Lorem ipsum dolor sit amet, elit consectetuer adipiscing aenean.</p>
	 <h5 class="normal">Monday	<span class="pull-right">9AM - 6PM</span></h5>
	 <h5 class="normal">Tuesday	<span class="pull-right">9AM - 6PM</span></h5>
	 <h5 class="normal">Wednesday	<span class="pull-right">9AM - 6PM</span></h5>
	 <h5 class="normal">Thursday	<span class="pull-right">9AM - 6PM</span></h5>
	 <h5 class="normal">Friday	<span class="pull-right">9AM - 6PM</span></h5>
	 <h5 class="normal">Saturday	<span class="pull-right">9AM - 5PM</span></h5>
	 <h4><a class="button_1" href="#">Contact Us </a></h4>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="about_home">
 <div class="container">
  <div class="row">
   <div class="about_home_2 clearfix">
    <div class="col-sm-5">
     <div class="about_home_2l clearfix">
	  <img src="img/47.jpg" class="iw" alt="abc">
	 </div>
	</div>
	<div class="col-sm-7">
     <div class="about_home_2r clearfix">
	  <p class="mgt">All of our services are backed by our 100% satisfaction guarantee. Our electricians can install anything from new security lighting for your outdoors to a whole home generator that will keep your appliances working during a power outage. Our installation services are always done promptly and safely.</p>
	  <ul>
	   <li><i class="fa fa-check col_1"></i> Full-service electrical layout, design</li>
	   <li><i class="fa fa-check col_1"></i> Wiring and installation/upgrades</li>
	   <li><i class="fa fa-check col_1"></i> Emergency power solutions (generators)</li>
	   <li><i class="fa fa-check col_1"></i> Virtually any electrical needs you have – just ask!</li>
	  </ul>
	  <h4><a class="button" href="#"> Know More</a></h4>
	 </div>
	</div>
   </div>
  </div>
 </div>
</section>

<section id="team_pg">
 <div class="container">
  <div class="row">
   <div class="price_1 text-center clearfix">
       <div class="col-sm-12">
	     <h2 class="mgt">Our <span class="col_1">Team</span></h2>
		<p>Explore our unique daily wear jewellery designs that reflect elegance and exclusivity.</p>
	   </div>
   </div>
   <div class="team_pg_1 clearfix">
     <div class="col-sm-3">
	<div class="team_homei text-center">
	 <div class="grid clearfix">
	  <figure class="effect-jazz">
		<a href="#"><img src="img/48.jpg" class="iw mgt" alt="img25"></a>
	  </figure>
	</div>
	 <div class="team_homeii">
	  <h4><a href="#">Dapibus Diam</a></h4>
	 <h5>Director</h5>
	 <ul class="social-network social-circle">
		<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
		<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
		<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
	 </ul>
	 </div>
	</div>
	</div>
	 <div class="col-sm-3">
	<div class="team_homei text-center">
	 <div class="grid clearfix">
	  <figure class="effect-jazz">
		<a href="#"><img src="img/49.jpg" class="iw mgt" alt="img25"></a>
	  </figure>
	</div>
	 <div class="team_homeii">
	  <h4><a href="#">Nibh Elementum </a></h4>
	 <h5>CEO &amp; Founder</h5>
	 <ul class="social-network social-circle">
		<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
		<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
		<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
	 </ul>
	 </div>
	</div>
	</div>
	 <div class="col-sm-3">
	<div class="team_homei text-center">
	 <div class="grid clearfix">
	  <figure class="effect-jazz">
		<a href="#"><img src="img/50.jpg" class="iw mgt" alt="img25"></a>
	  </figure>
	</div>
	 <div class="team_homeii">
	  <h4><a href="#">Sagittis Ipsum</a></h4>
	 <h5>Administrator</h5>
	 <ul class="social-network social-circle">
		<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
		<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
		<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
	 </ul>
	 </div>
	</div>
	</div>
	 <div class="col-sm-3">
	<div class="team_homei text-center">
	 <div class="grid clearfix">
	  <figure class="effect-jazz">
		<a href="#"><img src="img/51.jpg" class="iw mgt" alt="img25"></a>
	  </figure>
	</div>
	 <div class="team_homeii">
	  <h4><a href="#">Augue Semper</a></h4>
	 <h5>Chief Officer</h5>
	 <ul class="social-network social-circle">
		<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
		<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
		<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
		<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
		<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
	 </ul>
	 </div>
	</div>
	</div>
   </div>
  </div>
 </div>
</section>

{% endblock content %}






